<nav>
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{ exact: true }"
        >HOME</a
      >
    </li>
    <li>
      <a
        routerLink="/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{ exact: true }"
        >ABOUT</a
      >
    </li>
    <li>
      <a
        routerLink="/projects"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{ exact: true }"
        >PROJECTS</a
      >
    </li>
  </ul>
</nav>
