@font-face {
  font-family: "Roboto-condensed";
  src: url(/RobotoCondensed-VariableFont_wght.ttf) format("opentype");
}

body {
  font-family: "Roboto-condensed";
  background: linear-gradient(
    90deg,
    rgba(80, 63, 105, 1) 34%,
    rgba(100, 63, 105, 1) 61%,
    rgba(80, 63, 105, 1) 86%
  );
  margin: 0;
  color: #f0e6ef;
}
