@font-face {
  font-family: "Roboto-condensed";
  src: url(/RobotoCondensed-VariableFont_wght.ttf) format("opentype");
}

body {
  font-family: "Roboto-condensed";
  background-color: #382c49;
  margin: 0;
  color: #f0e6ef;
}
